<%- include ("./partials/head.ejs",{title:"Dashboard"}) %>
<body>
    <%- include ("./header.ejs",{loggedin:loggedin}) %>
    
 
    <h1>Dashboard</h1>
    <h3><%= user.name %></h3>
    <a class="btn btn-primary" href="/service/addservice">Add service</a>
    
    <div class="service">
        <h4>Service List</h4>
        <% services.forEach((service)=>{ %>
        <a href="/service/<%= service._id %>"><%= service.title %></a>
        <a href="/service/edit/<%= service._id %>">Edit</a>
        <a href="/service/delete/<%= service._id %>">Delete</a>
        <br>
        <% }) %>
    </div>
</body>
</html>